.box {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  word-break: break-word;
  //   border-radius: 5px;
}
.rsa {
  text-align: left;
}
.genarate-key-rsa {
  text-align: left;
  word-break: break-word;
  td {
    padding: 5px;
    vertical-align: middle;
  }
}
.text-bold {
  font-weight: bold;
}
.text-center {
  text-align: center;
}
.item {
  margin-top: 10px;
}
